<template>
  <v-card class="mx-auto pa-4" max-width="344" variant="outlined">
    <div>
      <div class="text-overline mb-1">{{ title }}</div>
      <div class="text-h6 mb-1">Your like is: {{ likes }}</div>
      <div class="text-caption">
        {{ content }}
      </div>
    </div>

    <v-card-actions>
      <v-btn :color="color" variant="outlined" rounded> Button </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  props: {
    title: { type: String, default: 'Title' },
    content: { type: String, default: 'Hello, World!!!' },
    likes: {
      type: Number,
      default: 0,
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
}
</script>