<template>
  <div>
    <v-row>
      <v-col v-for="(i,idx) in items" :key="idx" cols="6">
        <cards
          :title="i.title"
          :likes="i.likes"
          :content="i.content"
          :color="i.color"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import cards from '~/components/cards.vue'
export default {
  component: { cards },
  data() {
    return {
      items: [
        {
          title: 'Title - 1',
          likes: 10,
          content: 'Cotent of title - 1',
          color: 'error',
        },
        {
          title: 'Title - 2',
          likes: 20,
          content: 'Cotent of title - 2',
          color: 'warning',
        },
        {
          title: 'Title - 3',
          likes: 30,
          content: 'Cotent of title - 3',
          color: 'success',
        },
        {
          title: 'Title - 4',
          likes: 40,
          content: 'Cotent of title - 4',
          color: 'info',
        },
        {
          title: 'Title - 5',
          likes: 50,
          content: 'Cotent of title - 5',
          color: 'secondary',
        },
        {
          title: 'Title - 6',
          likes: 60,
          content: 'Cotent of title - 6',
        },
      ],
    }
  },
}
</script>

<style>
</style>